{% extends 'App/index.html' %}

{% load static %}
{% block title %}
Acerca nuestro
{% endblock title %}
{% block codigoDinamico %}
    <h1>Quienes somos:</h1>
    
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

    <p> Somos una empresa que suministra recursos digitales a profesionales.

    <p>Tenemos a tu disposición imágenes, vectores, videos y música para 
        complementar tu proyecto, generando resultados increíbles dado que 
        trabajamos con muchísima variedad disponible para cubrir las 
        diferentes necesidades que te puedan surgir.
        Además trabajamos en gran diversidad de formatos y calidad acorde a 
        distintos presupuestos para ampliar el abanico de posibilidades. 
    </p>

    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

    <p>Esperamos que sean de su utilidad. 
    </p>
    <p>Muchas Gracias
    </p>
    {% endblock %}
    